.content {
  background: #eeeeee url("../../images/background.png") repeat-x;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px; }
  .content .container .col-md-12 .left {
    background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    /* IE6-9 */
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: 0px -12px 22px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -12px 22px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -12px 22px -6px rgba(0, 0, 0, 0.75); }
    .content .container .col-md-12 .left h2 {
      color: #ff7200;
      text-transform: uppercase;
      padding: 15px 15px 15px 0; }

/*# sourceMappingURL=content.css.map */
