footer {
  padding: 10px;
  background: #303030; }
  footer .container ul {
    padding: 15px; }
    footer .container ul li {
      display: inline-block;
      padding-left: 10px; }
      footer .container ul li a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase; }

/*# sourceMappingURL=footer.css.map */
