footer {
  padding: 10px;
  background: #303030;


  .container {
    ul {
      padding: 15px;
      li {
        display: inline-block;
        padding-left: 10px;

        a {
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }

}