header {
  height: 165px;
  position: relative; }
  header .top-header .container {
    background: url("../../images/header-background.png") no-repeat 100%;
    position: relative; }
    header .top-header .container .row .logo {
      float: left; }
      header .top-header .container .row .logo img {
        height: 165px; }
    header .top-header .container .row #searchform {
      position: absolute;
      right: 30px;
      bottom: 30px; }
      header .top-header .container .row #searchform .search {
        position: relative; }
        header .top-header .container .row #searchform .search .search-ico {
          background: url("../../images/search-ico.png") no-repeat;
          height: 24px;
          width: 30px;
          position: absolute;
          display: block;
          top: 0;
          right: 0;
          cursor: pointer; }
  header .menu-header-container {
    background: #303030;
    position: relative;
    margin-top: -12px;
    border-radius: 10px; }
    header .menu-header-container > ul.display-on > li {
      display: inline-block; }
    header .menu-header-container > ul > li {
      display: inline-block;
      position: relative;
      padding: 10px; }
      header .menu-header-container > ul > li a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none; }
      header .menu-header-container > ul > li.menu-item-has-children {
        padding-right: 25px; }
        header .menu-header-container > ul > li.menu-item-has-children:after {
          position: absolute;
          content: "\f0ab";
          right: 5px;
          top: 15px;
          font: normal normal normal 14px/1 FontAwesome;
          text-rendering: auto;
          color: white;
          -webkit-font-smoothing: antialiased; }
      header .menu-header-container > ul > li > ul.sub-menu {
        display: none; }
      header .menu-header-container > ul > li.current_page_item, header .menu-header-container > ul > li:hover {
        background: #FFA50B; }
      header .menu-header-container > ul > li:hover > ul.sub-menu {
        display: block;
        border-bottom: 1px solid #d1d1d1;
        left: 0;
        margin: 0;
        min-width: 100%;
        position: absolute;
        padding-left: 0;
        padding-top: 10px;
        z-index: 99999; }
        header .menu-header-container > ul > li:hover > ul.sub-menu > li {
          background: #303030;
          list-style: none;
          padding: 10px; }
          header .menu-header-container > ul > li:hover > ul.sub-menu > li:hover {
            background: #FFA50B; }
  header .nav-toggle {
    display: none; }

@media (max-width: 1024px) {
  header .menu-header-container > ul {
    margin-bottom: 0; }
    header .menu-header-container > ul > li {
      display: none;
      width: 100%; }
  header .nav-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    background: red;
    width: 10px;
    height: 10px;
    right: 30px;
    top: 40px; } }

/*# sourceMappingURL=header.css.map */
