header {
  height: 165px;
  position: relative;

  .top-header {
    .container {
      background: url('../../images/header-background.png') no-repeat 100%;
      position: relative;

      .row {
        .logo {
          float: left;

          img {
            height: 165px;

          }
        }

        #searchform {
          position: absolute;
          right: 30px;
          bottom: 30px;

          .search {
            position: relative;

            .search-input-cont {

            }

            .search-ico {
              background: url("../../images/search-ico.png") no-repeat;
              height: 24px;
              width: 30px;
              position: absolute;
              display: block;
              top: 0;
              right: 0;
              cursor: pointer;

            }
          }
        }
      }
    }
  }

  .menu-header-container {
    background: #303030;
    position: relative;
    margin-top: -12px;
    border-radius: 10px;
    //box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);

    >ul {

      &.display-on {
        >li {
          display: inline-block;
        }
      }
      >li {
        display: inline-block;
        position: relative;
        padding: 10px;

        a {
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
        }

        &.menu-item-has-children {
          padding-right: 25px;
          &:after {
            position: absolute;
            content: "\f0ab";
            right: 5px;
            top: 15px;

            font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
            color: white;
            -webkit-font-smoothing: antialiased;
          }
        }

        >ul.sub-menu {
          display: none;
        }

        &.current_page_item,
        &:hover {
          background: #FFA50B;
        }

        &:hover {
          >ul.sub-menu {
            display: block;
            border-bottom: 1px solid #d1d1d1;
            left: 0;
            margin: 0;
            min-width: 100%;
            position: absolute;
            padding-left: 0;
            padding-top: 10px;
            z-index: 99999;

            >li {
              background: #303030;
              list-style: none;
              padding: 10px;

              &:hover {
                background: #FFA50B;
              }
            }
          }
        }
      }
    }
  }

  .nav-toggle {
    display: none;
  }
}


@media (max-width: 1024px) {
  header {
    .menu-header-container {
      >ul {
        margin-bottom: 0;
        >li {
          display: none;
          width: 100%;
        }
      }
    }

    .nav-toggle {
      cursor: pointer;
      display: block;
      position: absolute;
      background: red;
      width: 10px;
      height: 10px;
      right: 30px;
      top: 40px;
    }
  }
}

@media (max-width: 768px) {

}