* {
  box-sizing: border-box;
}

body {
  //-webkit-animation-duration: 5s !important;
  //animation-duration: 8s !important;
}

h3 {
  font-size: 1rem;
}

.aligncenter {
  display: block;
  margin: 1em auto;
  text-align: center;
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../../images/preloader.gif') center no-repeat #fff;
}

.image, img {
  max-width: 100%;
}