/** Sidebar CSS **/


.box {
  .box-item {
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    -webkit-box-shadow: 0px -12px 22px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -12px 22px -6px rgba(0,0,0,0.75);
    box-shadow: 0px -12px 22px -6px rgba(0,0,0,0.75);

    margin-bottom: 25px;

    .title, .image, .text {
      padding: 5px;

    }

    .title {
      background: #FF9B00;
      border-radius: 5px;
    }
  }
}